@model IEnumerable<Amazon.Core.Entities.Identity.AppUser>

<h1>Sellers</h1>

<div class="bg-white p-4">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Seller Name
                </th>
                <th>
                    Display Name
                </th>
                <th>
                    Status
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SellerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DisplayName)
                    </td>
                    <td>
                        @(item.IsActiveSeller ? "Verified" : "Unverified")
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info" title="View Details">
                            📄
                        </a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" title="Delete Seller">
                            🗑️
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>