@using Amazon.Core.Entities

<div>
    <h1 class="display-4">Dashboard</h1>
</div>

<div class="row gx-5 gx-xl-8 mb-2">
    <a class="card col-5 text-decoration-none" asp-controller="Products" asp-action="Index">
        <div class="fw-bolder fs-1 mb-2 mt-5 text-black">@Model.ProductsNo Products</div>
    </a>

    <a class="col-2"></a>

    <a class="card col-5 text-decoration-none" asp-controller="Categories" asp-action="Index">
        <div class="text-inverse-bg-body fw-bolder fs-1 mb-2 mt-5 text-black">@Model.BrandsNo Categories</div>
    </a>
</div>

<div class="row">

    <div class="bg-white p-4 col-6">

        <div>
            <h1 class="display-4">Low Quantity Products</h1>
        </div>


        <table class="table table-striped gy-7 gs-7">
            <thead>
                <tr class="fw-bold fs-6 text-gray-800 border-bottom border-gray-200">
                    <th>Name</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.QuantityInStock
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>


    <div class="bg-white p-4 col-6">

        <div>
            <h1 class="display-4">Most Ordered Products</h1>
        </div>


        <table class="table table-striped gy-7 gs-7">
            <thead>
                <tr class="fw-bold fs-6 text-gray-800 border-bottom border-gray-200">
                    <th>Name</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.TopOrders)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.TotalQuantity
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>